:root {
  --primaey-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --buttom-color: rgba(245, 244, 250, 1);
  --buttom-push-color: rgba(33, 150, 243, 1);
  --primary-white-color: white;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primaey-text-color);
}

/*Header links*/
.header-section {
  outline: 1px solid #ececec;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.web-link1 {
  color: var(--buttom-push-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.web-link2 {
  color: var(--primaey-text-color);
  margin-right: 92px;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primaey-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--buttom-push-color);
}
.navigation-link.current {
  color: var(--buttom-push-color);
}
.navigation-link-section {
  display: flex;
}
.navigation-link-section .item:not(:last-child) {
  margin-right: 50px;
}
.contact-section {
  display: flex;
  margin-left: auto;
}
.contact-section .item + .item {
  margin-left: 50px;
}
.my-contact-links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.my-contact-links:hover,
.my-contact-links:focus {
  color: var(--buttom-push-color);
}
/*Main section*/

.title-hero {
  display: block;
  padding-top: 200px;
  padding-bottom: 30px;
  margin-top: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
.title-section {
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
}
.button-title-section {
  padding: 10px 32px;
  margin-bottom: 200px;
  color: var(--primary-white-color);
  background-color: var(--buttom-push-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
}
.button-title-section:hover,
.button-title-section:focus {
  background-color: rgba(24, 140, 232, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.skills-section {
  display: flex;
  margin-top: 94px;
  padding: 0px;
  align-items: center;
}
.skills-section .item:not(:last-child) {
  padding-right: 30px;
}
.skills {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}
.description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.my-team-section {
  background-color: rgba(245, 244, 250, 1);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
}
.foto-container {
  display: flex;
  margin-top: 50px;
  padding-left: 0px;
  align-items: center;
  width: 1170px;
}
.foto-container .item:not(:last-child) {
  margin-right: 30px;
}
.people-container {
  display: flex;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 94px;
}
.people-container .item:not(:last-child) {
  margin-right: 30px;
  align-items: center;
  padding-left: 0px;
}
.people-container .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.footer-section {
  background-color: rgba(47, 48, 58, 1);
  padding-left: 0px;
}
.web-link3 {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.company-address {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}
.my-contact-links2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer-container {
  padding-bottom: 60px;
}
.my-contact-links2:hover,
.my-contact-links2:focus {
  color: var(--buttom-color);
}
/*Portfolio*/
.button {
  background-color: var(--buttom-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--buttom-push-color);
}
.button.primary {
  background-color: var(--buttom-push-color);
  color: var(--primary-white-color);
}

.name-function {
  color: var(--primaey-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.sort {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.function-section a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
