:root {
  --primaey-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --buttom-color: rgba(245, 244, 250, 1);
  --buttom-push-color: rgba(33, 150, 243, 1);
  --primary-white-color: white;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primaey-text-color);
}

/*Header links*/
.web-link1 {
  color: var(--buttom-push-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.web-link2 {
  color: var(--primaey-text-color);
}
.navigation-link {
  color: var(--primaey-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--buttom-push-color);
}
.navigation-link.current {
  color: var(--buttom-push-color);
}
.my-contact-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.my-contact-links:hover,
.my-contact-links:focus {
  color: var(--buttom-push-color);
}
/*Main section*/
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
.title-section {
  background-color: #2f303a;
  text-transform: uppercase;
  text-align: center;
}
.button-title-section {
  color: var(--primary-white-color);
  background-color: var(--buttom-push-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  text-align: center;
}
.button-title-section:hover,
.button-title-section:focus {
  background-color: rgba(24, 140, 232, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.skills {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.my-team-section {
  background-color: rgba(245, 244, 250, 1);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-section {
  background-color: rgba(47, 48, 58, 1);
}
.web-link3 {
  color: var(--primary-white-color);
}

.company-address {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.my-contact-links2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.my-contact-links2:hover,
.my-contact-links2:focus {
  color: var(--buttom-color);
}
/*Portfolio*/
.button {
  background-color: var(--buttom-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--buttom-push-color);
}
.button.primary {
  background-color: var(--buttom-push-color);
  color: var(--primary-white-color);
}

.name-function {
  color: var(--primaey-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.sort {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.function-section a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
